In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns


import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

%config InlineBackend.figure_format = 'retina' # 폰트를 선명하게~

from sklearn.model_selection import train_test_split

In [44]:
result=pd.read_csv("/content/drive/MyDrive/최종데이터프레임_진짜최종.csv")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [45]:
#result.rename(columns={"RECV_DEPT_NM":"접수부서코드","RECV_CPLT_DM":"접수완료일시", "NPA_CL":"경찰청구분", "EVT_STAT_CD":"사건상태코드","EVT_CL_CD":"사건종별코드","RPTER_SEX":"신고성별","HPPN_PNU_ADDR":"발생지점","HPPN_X":"발생좌표x","HPPN_Y":"발생좌표y","SME_EVT_YN":"동일사건여부"}, inplace=True)

In [46]:
result.head(5)

,경찰청,신고접수시간,일시,사건코드,성별,주소,지역,시/군/구,경도,위도,요일,날씨
0,충남청,2020-01-01 00:03:11,2020-01-01 00:00,406,1,충청남도 공주시 정안면 어물리(정안면) 33-2,충남,공주시,127.148714,36.605751,Wednesday,맑음
1,충남청,2020-01-01 00:18:08,2020-01-01 00:00,403,1,충청남도 논산시 채운면 장화리(채운면) 533,충남,논산시,127.030921,36.164643,Wednesday,맑음
2,충남청,2020-01-01 00:20:01,2020-01-01 00:00,406,1,세종특별자치시 세종시 소담동(소담동) 32-92,세종,소담동,127.305511,36.479819,Wednesday,NaN
3,충남청,2020-01-01 00:20:04,2020-01-01 00:00,402,1,충청남도 천안시 서북구 불당동(불당동) 204-4,충남,천안시,127.109667,36.815468,Wednesday,맑음
4,대전청,2020-01-01 00:21:35,2020-01-01 00:00,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,대전,유성구,127.348625,36.353829,Wednesday,맑음

In [47]:
result["날씨"]=result["날씨"].replace("구름많음", "흐림")

In [48]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409005 entries, 0 to 409004
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   경찰청     409005 non-null  object
 1   신고접수시간  409005 non-null  object
 2   일시      409005 non-null  object
 3   사건코드    409005 non-null  int64
 4   성별      409005 non-null  object
 5   주소      409005 non-null  object
 6   지역      409005 non-null  object
 7   시/군/구   409005 non-null  object
 8   경도      408988 non-null  float64
 9   위도      408988 non-null  float64
 10  요일      409005 non-null  object
 11  날씨      407660 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 37.4+ MB

In [ ]:
# 범주형 데이터 수정

In [49]:
dev1=result[["일시","경도","위도","요일","지역","날씨"]] # 불필요 컬럼 삭제

In [50]:
dev1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409005 entries, 0 to 409004
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   일시      409005 non-null  object
 1   경도      408988 non-null  float64
 2   위도      408988 non-null  float64
 3   요일      409005 non-null  object
 4   지역      409005 non-null  object
 5   날씨      407660 non-null  object
dtypes: float64(2), object(4)
memory usage: 18.7+ MB

In [51]:
dev1=dev1.dropna() # 좌표x,y의 결측치 제거

In [52]:
dev1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407643 entries, 0 to 409004
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   일시      407643 non-null  object
 1   경도      407643 non-null  float64
 2   위도      407643 non-null  float64
 3   요일      407643 non-null  object
 4   지역      407643 non-null  object
 5   날씨      407643 non-null  object
dtypes: float64(2), object(4)
memory usage: 21.8+ MB

In [53]:
import datetime
dev1["일시"]=pd.to_numeric(pd.to_datetime(dev1["일시"]))

In [54]:
dev1["일시"]

0         1577836800000000000
1         1577836800000000000
3         1577836800000000000
4         1577836800000000000
6         1577836800000000000
                 ...
409000    1672527600000000000
409001    1672527600000000000
409002    1672527600000000000
409003    1672527600000000000
409004    1672527600000000000
Name: 일시, Length: 407643, dtype: int64

In [55]:
dev1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407643 entries, 0 to 409004
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   일시      407643 non-null  int64
 1   경도      407643 non-null  float64
 2   위도      407643 non-null  float64
 3   요일      407643 non-null  object
 4   지역      407643 non-null  object
 5   날씨      407643 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 21.8+ MB

In [ ]:
# one-hot encoding을 사용했을 때에는 다중공선성 문제를 해결하기 위해서는 더미컬럼 중 1개를 제외해야 함.
# n 개의 컬럼이 만들어졌다면 n-1개로 진행하여야 함.
# ex) 구분_대전 : 0,0 / 구분_세종 : 1,0 / 구분_충남 : 0,1

In [56]:
dev1=pd.get_dummies(data=dev1, columns=["지역"],drop_first=True)

In [57]:
dev1=pd.get_dummies(data=dev1, columns=["요일"],drop_first=True)

In [ ]:
#dev1=pd.get_dummies(data=dev1, columns=["시/군/구"],drop_first=True)

In [ ]:
#dev1=pd.get_dummies(data=dev1, columns=["사건종별코드"],drop_first=True)

In [58]:
dev1=pd.get_dummies(data=dev1, columns=["날씨"],drop_first=True)

In [59]:
dev1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407643 entries, 0 to 409004
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   일시            407643 non-null  int64
 1   경도            407643 non-null  float64
 2   위도            407643 non-null  float64
 3   지역_세종         407643 non-null  uint8
 4   지역_충남         407643 non-null  uint8
 5   요일_Monday     407643 non-null  uint8
 6   요일_Saturday   407643 non-null  uint8
 7   요일_Sunday     407643 non-null  uint8
 8   요일_Thursday   407643 non-null  uint8
 9   요일_Tuesday    407643 non-null  uint8
 10  요일_Wednesday  407643 non-null  uint8
 11  날씨_비옴         407643 non-null  uint8
 12  날씨_흐림         407643 non-null  uint8
dtypes: float64(2), int64(1), uint8(10)
memory usage: 16.3 MB

In [60]:
# 랜덤포레스트
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [61]:
labels=np.array(dev1[["경도","위도"]]) # label 데이터 분리

features=dev1.drop(["경도","위도"], axis=1) 

feature_list=list(features.columns)

features=np.array(features)

In [62]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42) # 75:25 비율로 데이터 나눔

In [63]:
# train, test data 차원 확인

print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.reshape(-1,1).shape) # reshape 적용해서 차원 맞추기
print('Testing Features Shape:', test_features)
print('Testing Labels Shape:', test_labels.reshape(-1,1).shape) # reshape 적용해서 차원 맞추기


print(train_features.shape)
print(test_features.shape)

Training Features Shape: (305732, 11)
Training Labels Shape: (611464, 1)
Testing Features Shape: [[1654344000000000000                   0                   0 ...
                    0                   0                   1]
 [1654038000000000000                   0                   1 ...
                    0                   0                   1]
 [1657476000000000000                   0                   0 ...
                    0                   0                   1]
 ...
 [1656792000000000000                   1                   0 ...
                    0                   0                   0]
 [1591992000000000000                   0                   0 ...
                    0                   1                   0]
 [1660842000000000000                   1                   0 ...
                    0                   0                   1]]
Testing Labels Shape: (203822, 1)
(305732, 11)
(101911, 11)

In [105]:
# n_estimators = 1000 / 1000개의 결정트리를 가지는 모델 
rf = RandomForestRegressor(n_estimators = 3, random_state = 42)


# train 데이터로 훈련
rf.fit(train_features, train_labels)

RandomForestRegressor(n_estimators=3, random_state=42)

In [106]:
# 모델을 사용해서 예측
predictions = rf.predict(test_features)

# 절대오차 : 측정값에서 오차의 절대값 크기
errors = abs(predictions - test_labels) # abs() : 절대값 계산 함수

# Mean absolute error(MAE) : 절대오차의 평균값
print("MAE는 :", round(np.mean(errors), 2), "입니다.")

MAE는 : 0.14 입니다.

In [107]:
# Mean Absolut Percentage Error 계산 / MAPE : 평균절대오차비율
mape = 100 * (errors / test_labels)

# 정확도 퍼센트
accuracy = 100 - np.mean(mape)
print("정확도는", round(accuracy, 2), "입니다.")


## n_estimators = 1000 일 때 MAE : 0.14 / 정확도 99.77 / 용량 :7.17G
## n_estimators = 500 일 때 MAE : 0.14 / 정확도 99.77 / 용량 :3.58G
## n_estimators = 300 일 때 MAE : 0.14 / 정확도 99.77 / 용량 :2.15G
## n_estimators = 100 일 때 MAE : 0.14 / 정확도 99.77 / 용량 :733.97MB
## n_estimators = 5 일 때 MAE : 0.14 / 정확도 99.77 / 용량 :36.74MB
## n_estimators = 3 일 때 MAE : 0.14 / 정확도 99.77 / 용량 :22.04MB
## n_estimators = 1~2 일 때 MAE : 0.14 / 정확도 99.76

정확도는 99.77 입니다.

In [108]:
# 보완 필요 
# 연속형 features의 중요도를 구하기.
importances = list(rf.feature_importances_)


# feature와 중요도를 튜플에 넣고 리스트에 넣음.
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]


# 중요도 순으로 teature를 정렬.Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)


# 중요도와 feature를 출력
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: 지역_충남                Importance: 0.75
Variable: 일시                   Importance: 0.21
Variable: 지역_세종                Importance: 0.02
Variable: 날씨_흐림                Importance: 0.01
Variable: 요일_Monday            Importance: 0.0
Variable: 요일_Saturday          Importance: 0.0
Variable: 요일_Sunday            Importance: 0.0
Variable: 요일_Thursday          Importance: 0.0
Variable: 요일_Tuesday           Importance: 0.0
Variable: 요일_Wednesday         Importance: 0.0
Variable: 날씨_비옴                Importance: 0.0

In [110]:
import joblib

joblib.dump(rf,"지치안_rf.pkl")

['지치안_rf.pkl']